body {
  background-color: purple;
}
body {
  background-color: blue;
  color: whitesmoke;
}
img {
  max-width: 300px;
}

.heading {
  color: aliceblue;
}

#bio_header {
  color: aqua;
}

h2 {
  color: green;
}
/* Order - tag - class id */

table,
th,
td {
  border: 1px solid white;
}
